<h1><span>C</span>hat <span>A</span>pp <i class="far fa-comments"></i></h1>
<p>Users online: <span class="badge badge-success">{{ numberOfUsers }}</span></p>
<div class="messages" style="height:250px; overflow:auto;">
    <ul class="list-group" *ngFor="let message of messages">
        <li class="list-group-item" [ngClass]="{ 'list-group-item-success': isConnectedInfo(message), 'list-group-item-danger': isDisconnectedInfo(message) }" >{{message}}</li>
    </ul>
</div>

<div class="input-group mb-3" style="width: 100%; height: 55px;">
    <input type="text" class="form-control" placeholder="Type a message..."
    [(ngModel)]="message" (keyup)="isEmpty()" style="width: 75%; height: 55px;" required>
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" (click)="sendMessage()"
      style="width: 100%; height: 55px;" [disabled]="isEmpty() || isNicknameEmpty()">Send <i class="far fa-share-square"></i></button>
    </div>
    <input type="text" class="form-control" placeholder="Set your nickname..." aria-label="Username" aria-describedby="basic-addon1"
  style="margin-top:25px; height: 30px; background-color: lightblue;" [(ngModel)]="currentUser" >
  </div>
