body {
  font-size: 18px;
  font-family: 'Trebuchet MS',
    'Lucida Sans Unicode',
    'Lucida Grande';
    background: rgb(215, 216, 208);
}

.error {
  border: 1px solid #FF0000;
  background: rgb(255, 170, 170)
}

.centered {
  width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#form-number {
  padding: 5px;
  float: left;
  width: 74%;
  height: 45px;
  text-align: center;
}

.state {
  float: left;
  padding-top: 10px;
}

.btn {
  float: right;
  width: 24%;
  height: 45px;
}

.fa-phone-square {
  color: rgb(70, 182, 70);
}

.notification {
  padding-top: 10px;
}

h1 span {
  color: rgb(70, 182, 70);
}

::-webkit-input-placeholder {
  font-style: italic;
}

:-moz-placeholder {
  font-style: italic;
}

::-moz-placeholder {
  font-style: italic;
}

:-ms-input-placeholder {
  font-style: italic;
}

[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}
