<div class="window">
    <div class="btn-group btn-group-toggle" data-toggle="buttons" style="width: 100%; margin-bottom: 50px;">
        <label class="btn btn-secondary" [ngClass]="{ active: isChatEnabled()}">
          <input type="radio" name="options" id="option1" autocomplete="off" [checked]="isChatEnabled()" (click)="switchToChat() && isChatEnabled()"> Chat
        </label>
        <label class="btn btn-secondary" [ngClass]="{ active: !isChatEnabled()}">
          <input type="radio" name="options" id="option2" autocomplete="off" [checked]="!isChatEnabled()" (click)="switchToDialer() && isChatEnabled()"> Dialer
        </label>
      </div>
  <app-widget [hidden]="isChatEnabled()"></app-widget>
  <app-chat [hidden]="!isChatEnabled()"></app-chat>
</div>
